                       /* HEADER STYLE*/
/*---------------------------------------------------------------*/

header{
    width:100vw;
    height:64px;
    position:fixed;
    z-index: 9;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px #140c11;
}