
@media (max-width:1145px){

              /* MENU RESPONSIVE */
/*-----------------------------------------------*/
    .Navbar-Desktop{
        display: none;
    }
    .Navbar-Mobile{
        display: flex;
    }

    .container-right{
        display: none;
    }
    .container-left{
        width: 100%;
        padding:0;
    }
    .element-child-left{
        width:80%;
        text-align:center;
        align-items: center;
        
    }


            /* ABOUT RESPONSIVE */
/*-----------------------------------------------*/
    .box-about{
        transform: scale(0.8);
        width:100vw;
        font-size: 14px;
    }
    .box-right{
        width:40%;
    }
    .box-left{
        text-align: center;
    }
    .child-box-left{
        width:100%;
        font-size:13px;
    }


            /* PROJECTs RESPONSIVE */
/*-----------------------------------------------*/
    .inline{
        flex-direction: column;
        height: 300px;
    }
    .inline span{
        width:100%;
        height:100%;
    }

    .block{
        width:100px;
        height:80px;
        font-size:12px;
    }

            /* SKILLs RESPONSIVE */
/*-----------------------------------------------*/


}
