@media (max-width:700px){

                /* HOME RESPONSIVE */
/*-----------------------------------------------*/
.element-child-left h1{
margin:1px;
font-size:1.7rem;
}
.element-child-left .insert{
display:none;
}


                /* ABOUT RESPONSIVE */
/*-----------------------------------------------*/
.child-box-right{
font-size: 12px;
margin-right:10px;
}
}
